<div>
	<span class="brand" style="font-weight:bold;">{{paramFlowRuleDialog.title}}</span>
	<div class="card" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="panel-body">
			<div class="clearfix">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Resource Name</label>
						<div class="col-sm-9">
							<input type="text" ng-if="paramFlowRuleDialog.type == 'edit'" class="form-control" placeholder="Resource name" ng-model='currentRule.rule.resource' disabled="" />
							<input type="text" ng-if="paramFlowRuleDialog.type == 'add'" class="form-control highlight-border" placeholder="Resource name" ng-model='currentRule.rule.resource' required />
						</div>
                    </div>
                    
                    <div class="form-group">
						<label class="col-sm-2 control-label">Flow Control Mode</label>
						<p class="col-sm-9 control-label" style="text-align: left; font-weight: normal;">QPS Mode</p>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Parameter Index</label>
						<div class="col-sm-9">
							<input type="number" class="form-control highlight-border" ng-model='currentRule.rule.paramIdx' placeholder='Please enter the index of the hot parameter (starting from 0)' />
						</div>
                    </div>
                    
                    <div class="form-group">
						<div ng-if="!currentRule.rule.clusterMode">
							<label class="col-sm-2 control-label">Single Node Threshold</label>
							<div class="col-sm-3">
								<input type="number" class="form-control highlight-border" ng-model='currentRule.rule.count' placeholder='Single node threshold' />
							</div>
							<label class="col-sm-3 control-label" title="Statistics window time length in seconds">Statistics Window Length</label>
							<div class="input-group col-sm-3">
								<input type="number" class="form-control highlight-border"
									   ng-model='currentRule.rule.durationInSec' min="1"
									   placeholder='Please enter statistics window length (in seconds)' />
								<span class="input-group-addon">s</span>
							</div>
						</div>
						<div ng-if="currentRule.rule.clusterMode && currentRule.rule.clusterConfig.thresholdType == 0">
							<label class="col-sm-2 control-label">Average Threshold</label>
							<div class="col-sm-9">
								<input type="number" class="form-control highlight-border" ng-model='currentRule.rule.count' placeholder='Cluster average threshold' />
							</div>
						</div>
						<div ng-if="currentRule.rule.clusterMode && currentRule.rule.clusterConfig.thresholdType == 1">
							<label class="col-sm-2 control-label">Cluster Threshold</label>
							<div class="col-sm-9">
								<input type="number" class="form-control highlight-border" ng-model='currentRule.rule.count' placeholder='Cluster total threshold' />
							</div>
						</div>
                    </div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Enable Cluster</label>
						<div class="col-sm-2">
							<input type="checkbox" name="clusterMode" ng-model="currentRule.rule.clusterMode">
						</div>
						<div ng-if="currentRule.rule.clusterMode">
							<label class="col-sm-3 control-label">Cluster Threshold Mode</label>
							<div class="col-sm-4">
								<div class="form-control highlight-border" align="center">
									<input type="radio" name="clusterThresholdType" value="0" ng-model='currentRule.rule.clusterConfig.thresholdType' />&nbsp;Average&nbsp;&nbsp;
									<input type="radio" name="clusterThresholdType" value="1" ng-model='currentRule.rule.clusterConfig.thresholdType' />&nbsp;Global
								</div>
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.rule.clusterMode">
						<label class="col-sm-2 control-label">Fallback</label>
						<div class="col-sm-8">
							<div class="checkbox-inline">
								<input type="checkbox" name="fallbackToLocalWhenFail"
									   ng-model="currentRule.rule.clusterConfig.fallbackToLocalWhenFail">
								<i class="glyphicon glyphicon-info-sign"></i>&nbsp;If selected, will fall back to local flow control when Token Server is unavailable
							</div>
						</div>
					</div>

                    <!-- exclusion item part start -->
					<div ng-if="!paramFlowRuleDialog.showAdvanceButton">
						<hr />
						<div class="form-group">
							<div class="form-group" style="text-align: center">
								<label class="control-label">Parameter Exceptions</label>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Parameter Type</label>
								<div class="col-md-9">
									<select ng-model="curExItem.classType" ng-options="classType for classType in paramItemClassTypeList" class="form-control" placeholder="Please select parameter type">
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Parameter Value</label>
								<div class="col-md-3">
									<input ng-model="curExItem.object" type="text" class="form-control" placeholder="Exception parameter value">
								</div>

								<label class="col-sm-2 control-label">Threshold</label>
								<div class="col-md-3">
									<input type="number" ng-model="curExItem.count" class="form-control" placeholder="Flow control threshold">
								</div>

								<div class="col-md-2">
									<button type="button" class="btn btn-success"
											ng-disabled="notValidParamItem(curExItem)"
											ng-click="addParamItem()">
										<span class="fa fa-plus">&nbsp;Add</span>
									</button>
								</div>
							</div>

							<div>
								<div class="col-md-12">
									<table class="table table-condensed table-hover">
										<thead>
										<th>Value</th>
										<th>Type</th>
										<th>Threshold</th>
										<th>Action</th>
										</thead>
										<tbody>
										<tr ng-repeat="paramItem in currentRule.rule.paramFlowItemList">
											<td><input ng-model="paramItem.object" type="text" class="form-control" placeholder="Exception parameter"></td>
											<td>
												<p>{{paramItem.classType}}</p>
											</td>
											<td>
												<input type="number" ng-model="paramItem.count" class="form-control" placeholder="Flow control threshold">
											</td>
											<td>
												<button type="button" class="btn btn-danger"
														ng-click="removeParamItem(paramItem.object, paramItem.classType)"><span
														class="fa fa-trash-o">&nbsp;Delete</span></button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>

					<!-- exclusion item part end -->
					<div class="form-group text-center" ng-if="paramFlowRuleDialog.supportAdvanced">
						<a ng-click="onOpenAdvanceClick()" ng-if="paramFlowRuleDialog.showAdvanceButton" style="cursor: pointer;">Advanced Options</a>
						<a ng-click="onCloseAdvanceClick()" ng-if="!paramFlowRuleDialog.showAdvanceButton" style="cursor: pointer;">Close Advanced Options</a>
					</div>
				</form>
			</div>
			<div class="separator"></div>
			<div clss="row" style="margin-top: 20px;">
				<button class="btn btn-outline-danger" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="closeThisDialog()">Cancel</button>
				<button class="btn btn-outline-success" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="saveRule()">{{paramFlowRuleDialog.confirmBtnText}}</button>
				<button ng-if="paramFlowRuleDialog.saveAndContinueBtnText" class="btn btn-default" style="float:right; height: 30px;font-size: 12px;"
				 ng-click="saveRuleAndContinue()">{{paramFlowRuleDialog.saveAndContinueBtnText}}</button>
			</div>
		</div>
	</div>
</div>
