<div>
	<span class="brand" style="font-weight:bold;">{{gatewayFlowRuleDialog.title}}</span>
	<div class="card" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="panel-body">
			<div class="row">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">API Type</label>
						<div class="col-sm-9">
							<div class="form-control highlight-border" align="center">
								<input type="radio" ng-if="gatewayFlowRuleDialog.type == 'edit'" value="0" checked ng-model='currentRule.resourceMode'
											 disabled="" title="Route ID" /><span ng-if="gatewayFlowRuleDialog.type == 'edit'">&nbsp;Route ID&nbsp;&nbsp;</span>
								<input type="radio" ng-if="gatewayFlowRuleDialog.type == 'add'" value="0" checked ng-model='currentRule.resourceMode'
											 title="Route ID" ng-click="useRouteID()"/><span ng-if="gatewayFlowRuleDialog.type == 'add'">&nbsp;Route ID&nbsp;&nbsp;</span>
								<input type="radio" ng-if="gatewayFlowRuleDialog.type == 'edit'" value="1" ng-model='currentRule.resourceMode'
											 disabled="" title="API Group" /><span ng-if="gatewayFlowRuleDialog.type == 'edit'">&nbsp;API Group&nbsp&nbsp;</span>
								<input type="radio" ng-if="gatewayFlowRuleDialog.type == 'add'" value="1" ng-model='currentRule.resourceMode'
											 title="API Group" ng-click="useCustormAPI()"/><span ng-if="gatewayFlowRuleDialog.type == 'add'">&nbsp;API Group&nbsp&nbsp;</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">API Name</label>
						<div class="col-sm-9">
							<input type="text" ng-if="currentRule.resourceMode == 0 && gatewayFlowRuleDialog.type == 'edit'" class="form-control" placeholder="Enter Route ID" ng-model='currentRule.resource'
							 disabled="" />
							<input type="text" ng-if="currentRule.resourceMode == 0 && gatewayFlowRuleDialog.type == 'add'" class="form-control highlight-border" placeholder="Enter Route ID" ng-model='currentRule.resource' />

							<select ng-if="currentRule.resourceMode == 1 && gatewayFlowRuleDialog.type == 'edit'" ng-model="currentRule.resource" ng-init="selectedName = currentRule.resource"
										disabled=""	ng-options="name for name in apiNames" class="form-control">
							</select>
							<select ng-if="currentRule.resourceMode == 1 && gatewayFlowRuleDialog.type == 'add'" ng-model="currentRule.resource" ng-init="currentRule.resource"
											ng-options="name for name in apiNames" class="form-control">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Request Property</label>
						<div class="col-sm-2">
							<label class="checkbox-inline">
								<input type="checkbox" ng-if="currentRule.paramItem != null" checked ng-click="notUseParamItem()" />
								<input type="checkbox" ng-if="currentRule.paramItem == null" ng-click="useParamItem()" />
							</label>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.paramItem != null">
						<label class="col-sm-2 control-label">Parameter Property</label>
						<div class="col-sm-9">
							<div class="form-control highlight-border" align="center">
								<input type="radio" name="parseStrategy" value="0" checked ng-model='currentRule.paramItem.parseStrategy' title="Client IP" />&nbsp;Client IP&nbsp;&nbsp;
								<input type="radio" name="parseStrategy" value="1" ng-model='currentRule.paramItem.parseStrategy' title="Remote Host" />&nbsp;Remote Host&nbsp;&nbsp;
								<input type="radio" name="parseStrategy" value="2" ng-model='currentRule.paramItem.parseStrategy' title="Header" />&nbsp;Header&nbsp;&nbsp;
								<input type="radio" name="parseStrategy" value="3" ng-model='currentRule.paramItem.parseStrategy' title="URL Parameter" />&nbsp;URL Parameter&nbsp;&nbsp;
								<input type="radio" name="parseStrategy" value="4" ng-model='currentRule.paramItem.parseStrategy' title="Cookie" />&nbsp;Cookie&nbsp;&nbsp;
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.paramItem != null && (currentRule.paramItem.parseStrategy == 2 || currentRule.paramItem.parseStrategy == 3 || currentRule.paramItem.parseStrategy == 4)">
						<label class="col-sm-2 control-label">
							<span ng-if="currentRule.paramItem.parseStrategy==2">Header Name</span>
							<span ng-if="currentRule.paramItem.parseStrategy==3">URL Parameter Name</span>
							<span ng-if="currentRule.paramItem.parseStrategy==4">Cookie Name</span>
						</label>
						<div class="col-sm-9">
							<input type="text" name="fieldName" class="form-control highlight-border" placeholder="Enter value" ng-model='currentRule.paramItem.fieldName' />
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.paramItem != null">
						<label class="col-sm-2 control-label">Property Value Match</label>
						<div class="col-sm-2">
							<label class="checkbox-inline">
								<input type="checkbox" ng-if="currentRule.paramItem.pattern != null" checked ng-click="notUseParamItemVal()"/>
								<input type="checkbox" ng-if="currentRule.paramItem.pattern == null" ng-click="useParamItemVal()"/>
							</label>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.paramItem.pattern != null">
						<label class="col-sm-2 control-label">Match Mode</label>
						<div class="col-sm-4 control-label">
							<div class="form-control highlight-border" align="center">
								<input type="radio" value="0" checked ng-model="currentRule.paramItem.matchStrategy" title="Exact" />&nbsp;Exact&nbsp;&nbsp;
								<input type="radio" value="3" ng-model="currentRule.paramItem.matchStrategy" title="Substring" />&nbsp;Substring&nbsp;&nbsp;
								<input type="radio" value="2" ng-model="currentRule.paramItem.matchStrategy" title="Regex" />&nbsp;Regex&nbsp;&nbsp;
							</div>
						</div>
						<label class="col-sm-2 control-label">Match String</label>
						<div class="col-sm-3 control-label">
							<input type='text' ng-model="currentRule.paramItem.pattern" class="form-control highlight-border" placeholder="Match string" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Threshold Type</label>
						<div class="col-sm-9">
							<div class="form-control highlight-border" align="center">
								<input type="radio" name="grade" value="1" checked ng-model="currentRule.grade" title="QPS" />&nbsp;QPS&nbsp;&nbsp;
								<input type="radio" name="grade" value="0" ng-model="currentRule.grade" title="Thread Count" />&nbsp;Thread Count&nbsp;&nbsp;
							</div>
						</div>
					</div>

					<div class="form-group">
						<div>
							<label class="col-sm-2 control-label">
								<span ng-if="currentRule.grade==1">QPS Threshold</span>
								<span ng-if="currentRule.grade==0">Thread Count</span>
							</label>
							<div class="col-sm-3">
								<input type='number' min="0" class="form-control highlight-border" ng-model='currentRule.count' placeholder="Threshold" />
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.grade==1">
						<div>
							<label class="col-sm-2 control-label">Interval</label>
							<div class="col-sm-3">
								<input type='number' id="txtInterval" min="1" class="form-control highlight-border" ng-model='currentRule.interval' placeholder="Statistics window length" />
							</div>
							<div class="col-sm-2">
								<select ng-model="currentRule.intervalUnit" ng-init="currentRule.intervalUnit"
												ng-options="intervalUnit.val as intervalUnit.desc for intervalUnit in intervalUnits" class="form-control" ng-click="changeIntervalUnit()">
								</select>
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.grade==1">
						<label class="col-sm-2 control-label">Control Strategy</label>
						<div class="col-sm-9">
							<div class="form-control highlight-border" align="center">
								<input type="radio" name="controlBehavior" value="0" checked ng-model='currentRule.controlBehavior' title="Quick Fail" />&nbsp;Quick Fail&nbsp;&nbsp;
								<input type="radio" name="controlBehavior" value="2" ng-model='currentRule.controlBehavior' title="Rate Limiter" />&nbsp;Rate Limiter&nbsp&nbsp;
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.grade==1 && currentRule.controlBehavior==0">
						<div>
							<label class="col-sm-2 control-label">Burst size</label>
							<div class="col-sm-3">
								<input type='number' min="0" class="form-control highlight-border" ng-model='currentRule.burst' placeholder="Additional requests allowed for burst" />
							</div>
						</div>
					</div>

					<div class="form-group" ng-if="currentRule.grade==1 && currentRule.controlBehavior==2">
						<div>
							<label class="col-sm-2 control-label">Timeout</label>
							<div class="col-sm-3">
								<input type='number' min="0" class="form-control highlight-border" ng-model='currentRule.maxQueueingTimeoutMs' placeholder="Queue wait time (ms)" />
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="separator"></div>
			<div clss="row" style="margin-top: 20px;">
				<button class="btn btn-outline-danger" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="closeThisDialog()">Cancel</button>
				<button class="btn btn-outline-success" style="float:right; height: 30px;font-size: 12px;margin-left: 10px;" ng-click="saveRule()">{{gatewayFlowRuleDialog.confirmBtnText}}</button>
				<button ng-if="gatewayFlowRuleDialog.saveAndContinueBtnText" class="btn btn-default" style="float:right; height: 30px;font-size: 12px;"
				 ng-click="saveRuleAndContinue()">{{gatewayFlowRuleDialog.saveAndContinueBtnText}}</button>
			</div>
		</div>
	</div>
</div>
